.find {
  background-color: #1C2036;
  margin-top: 102px;
  margin-bottom: 40px;
}

.modal-add-recipe {
  justify-content: center;
  border: solid 6px yellow;
  margin-top: 15%;
}

.add-recipe-icon {
  width: 70px;
  margin-top: 80px;
}

.add-recipe-text {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  color: white;
}