body p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.title-recette, .etapes {
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgba(255, 101, 0, 0.9) !important;
}

h5, ul, li , .details{
  color: #FFF !important;
  font-family: 'Lato', sans-serif;
}

div.card-body {
  padding: 0 !important;
}

.details {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

.description {
  background-color: #1C2036;
}

.marmite {
  width: 55px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.baking {
  width: 80px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.icon {
  display: flex;
  margin: auto;
  width: 35px;
}

img.w-100.mx-auto.d-block.card-img-top {
  max-height: 190px !important;
  min-height: 190px !important;
  object-fit: cover !important;
}